.navbar{
    list-style: none;
    display:flex;
     text-align: center;
     margin-left: 300px;
     font-size: 20px;
     
}
.navbar li{
    margin-left: 40px;
    text-justify: inter-cluster;
    justify-content: center;
}